<div class="page-layout">
  <!-- Top Navigation Bar -->
  <header class="top-bar">
    <div class="logo">
      <span class="website-name">Quiz App</span>
    </div>
    <div class="search">
      <input class="srch" type="search" placeholder="Search Categories..." [(ngModel)]="searchQuery" (input)="filterCategories()">
      <button class="btn">Search</button>
    </div>
    <div class="user-info">
      <span>Welcome, {{ userName }}</span>
    </div>
  </header>

  <!-- Left Side Menu -->
  <aside class="side-menu">
    <ul class="menu-list">
      <li class="menu-item">🏠 Home</li>
         <!--   <li class="menu-item"><a mat-button (click)="openMotivationCard()">📜Motivation Card</a></li>
<li class="menu-item"><a routerLink="/profile">👤 Profile</a></li> -->
      <li class="menu-item"><a routerLink="/learnLanguage">Learn whith AI</a></li>
      <li class="menu-item"><a routerLink="/contact">contact us</a></li>
      <li class="menu-item"><a routerLink="/profile">👤 Profile</a></li>
      <li class="menu-item"><a routerLink="/LanguageGameComponent">games</a></li>
      <li class="menu-item"><a routerLink="/login">🚪 Quit</a></li>

    </ul>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <div class="container">
      <h1 class="title">Quiz Categories</h1>

      <div class="category-grid">
        <div class="quiz-card-container" *ngFor="let category of filteredCategories | slice:0:12">
          <div class="quiz-card" *ngFor="let quiz of category.quizzes" (click)="openQuizModal(quiz)">
            <div class="quiz-icon">
              <!-- Show the icon based on category name -->
              <i *ngIf="category.name === 'General Knowledge'" class="fas fa-book-open"></i>
              <i *ngIf="category.name === 'Entertainment: Books'" class="fas fa-book"></i>
              <i *ngIf="category.name === 'Entertainment: Film'" class="fas fa-film"></i>
              <i *ngIf="category.name === 'Entertainment: Music'" class="fas fa-music"></i>
              <i *ngIf="category.name === 'Entertainment: Musicals & Theatres'" class="fas fa-theater-masks"></i>
              <i *ngIf="category.name === 'Entertainment: Television'" class="fas fa-tv"></i>
              <i *ngIf="category.name === 'Entertainment: Video Games'" class="fas fa-gamepad"></i>
              <i *ngIf="category.name === 'Entertainment: Board Games'" class="fas fa-chess"></i>
              <i *ngIf="category.name === 'Science & Nature'" class="fas fa-leaf"></i>
              <i *ngIf="category.name === 'Science: Computers'" class="fas fa-laptop-code"></i>
              <i *ngIf="category.name === 'Science: Mathematics'" class="fas fa-square-root-alt"></i>
              <i *ngIf="category.name === 'Mythology'" class="fas fa-dragon"></i>
            </div>
            <h3 class="quiz-title">{{ quiz.title }}</h3>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
