<div class="about-container">
    <h1>About Us</h1>
    <p>Here are some statistics for our Quiz App:</p>
  
    <p>Number of users using various quiz categories:</p>
    <div style="display: block;">
    <canvas baseChart
            [datasets]="[{ data: doughnutChartData }]" 
            [labels]="doughnutChartLabels"
            [options]="chartOptions"
            [legend]="chartLegend"
            >
    </canvas>
  </div>
  <ul>
    <li>General Knowledge: 30%</li>
    <li>Books: 25%</li>
    <li>Music: 20%</li>
    <li>Science: 15%</li>
    <li>Movies: 10%</li>
    <li>Other: 5%</li>
  </ul>
  <section class="mission">
    <h2>Our Mission</h2>
    <p>Our mission is to provide an engaging and fun learning experience through various quiz categories. We believe quizzes can be an effective way to test your knowledge and have fun at the same time.</p>
  </section>

  <section class="contact-info">
    <h2>Contact Us</h2>
    <p>If you have any questions or suggestions, feel free to <a routerLink="/login">contact us</a>.</p>
  </section>
  