    <h1>Crossword Puzzle</h1>
    <div class="container">
        <div class="crossword">
            <div class="row">
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                    <span class="number">1</span>
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                    <span class="number">2</span>
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                    <span class="number">3</span>
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
            </div>
            <div class="row">
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
            </div>
            <div class="row">
                <div class="cell">
                    <input type="text" maxlength="1">
                    <span class="number">4</span>
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                    <span class="number">5</span>
                </div>
                <div class="cell unused"></div>
            </div>
            <div class="row">
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
            </div>
            <div class="row">
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                    <span class="number">6</span>
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                    <span class="number">7</span>
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell  unused"></div>
            </div>
            <div class="row">
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
                <div class="cell ">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
            </div>
            <div class="row">
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                    <span class="number">8</span></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
            </div>
            <div class="row">
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
            </div>

            <div class="row">
                <div class="cell unused"></div>
                <div class="cell">
                    <input type="text" maxlength="1">
                    <span class="number">9</span>
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell">
                    <input type="text" maxlength="1">
                </div>
                <div class="cell unused"></div>
            </div>

            <div class="row">
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
                <div class="cell unused"></div>
            </div>
        </div>

        <div class="questions">
            <h2>Questions</h2>
            <ol id="questionsList">
                <li *ngFor="let question of questions; let i = index">
                    {{ question.clue }} ({{ question.direction }})
                </li>
            </ol>
            <button (click)="showAnswers()">Show Answers</button>
            <ol id="answers">
                <li *ngFor="let answer of answers">{{ answer }}</li>
            </ol>
        </div>
    </div>
