

<div class="main">
  <div class="navbar">
    <div class="icon">
      <h2 class="logo">Quiz Master</h2>
    </div>
    <div class="menu">
      <ul>
        <li><a href="#">HOME</a></li>
       
       <!-- Lien qui navigue vers la section "About" -->
       <li><a routerLink="#about">ABOUT</a></li>
       <li><a routerLink="/log">LOGIN</a></li>

        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
    
  </div>
  <div class="robot-speech">
    <p>Hello! Welcome to the Quiz App. Test your knowledge in languages (French, English...) and scientific subjects like Mathematics and more.</p>
    <button (click)="startRecognition()">Start Speech Recognition</button>
  </div>


  <!-- Section About avec un ID pour l'ancre -->
  <div id="about" class="about-container">
    <app-about></app-about>
  </div>
</div>
