<div class="main">
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">Match Day</h2>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICE</a></li>
                <li><a href="#">DESIGN</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div>

        <div class="search">
            <input class="srch" type="search" placeholder="Type to search">
            <button class="btn">Search</button>
        </div>
    </div>

    <div class="content">
        <h1>Web Design & <br><span>Development</span> <br>Course</h1>
        <p class="par">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque expedita atque eveniet<br>
            quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus<br>
            a quae totam ipsa illum minus laudantium?
        </p>

        <button class="cn"><a href="#">JOIN US</a></button>

        <div class="form">
            <h2>Login Here</h2>
            <input type="email" name="email" placeholder="Enter Email Here">
            <input type="password" name="password" placeholder="Enter Password Here">
            <button class="btnn"><a href="#">Login</a></button>

            <p class="link">
                Don't have an account?<br>
                <a href="#">Sign up</a> here.
            </p>

            <p class="liw">Log in with</p>

            <div class="icons">
                <a href="#">👤 Profile</a>
                <a href="#">🏠 Home</a>
                <a href="#">⚙️ Settings</a>
            </div>

            <ul class="menu-list">
                <li class="menu-item">🏠 Home</li>
                <li class="menu-item">📜 My Certificates</li>
                <li class="menu-item">👤 Profile</li>
                <li class="menu-item">⚙️ Settings</li>
                <li class="menu-item">🚪 Quit</li>
            </ul>
        </div>
    </div>
