
    <div #motivationCard class="motivation-card">
      <div class="motivation-card" >
      
        <p>Vous avez terminé le quiz.</p>
        <p>Votre score : {{ score }}</p>
      
        <div class="motivation-message">
          <h2 *ngIf="score >= 00">Excellent! Vous êtes un maître du quiz!</h2>
          <h2 *ngIf="score >= 50 && score < 80">Bravo! Continuez comme ça!</h2>
          <h2 *ngIf="score < 00">Ne vous inquiétez pas! Vous vous améliorez à chaque essai!</h2>
        </div>
      
        <button mat-button (click)="downloadCard()">Télécharger la carte de motivation</button>
        <button mat-button (click)="closeDialog()">Fermer</button>
      </div>
      
    </div>

  